<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>inleveropdracht A</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>

    <div class="container mt-5">
      <div class="row">
        <div class="col-12">

          <h1>Form Inleveropdracht A</h1>

          <div ng-app="formApp" ng-controller="formCtrl">
            <form>

              <div class="form-row">
                <div class="form-group col-12 col-sm-6">
                  <label for="voornaam">Voornaam: </label>
                  <input type="text" class="form-control" id="voornaam" ng-model="voornaam" required>
                </div>

                <div class="form-group col-12 col-sm-6">
                  <label for="achternaam">Achternaam: </label>
                  <input type="text" class="form-control" id="achternaam" ng-model="achternaam" required>
                </div>

                <div class="form-group col-8">
                  <label for="adres">Adres: </label>
                  <input type="text" class="form-control" id="adres" ng-model="adres" required>
                </div>

                <div class="form-group col-4">
                  <label for="huisnummer">Huisnummer: </label>
                  <input type="number" class="form-control" id="huisnummer" ng-model="huisnummer" required>
                </div>

                <div class="form-group col-12 col-sm-4">
                  <label for="postcode">Postcode: </label>
                  <input type="text" class="form-control" id="postcode" ng-model="postcode" pattern="[0-9]{4}+[A-Z a-z]{2}" required>
                </div>

                <div class="form-group col-12 col-sm-8">
                  <label for="woonplaats">Woonplaats: </label>
                  <input type="text" class="form-control" id="woonplaats" ng-model="woonplaats" required>
                </div>

                <div class="form-group col-12">
                  <label for="email">Email: </label>
                  <input type="email" class="form-control" id="email" ng-model="email" required>
                </div>

                <div class="col-12">
                  <input type="submit" id="submit" class="btn btn-primary">
                </div>
              </div>
            </form>

            <table class="table mt-5">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Form gegevens</th>
                  <th scope="col"></th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th scope="row">Voornaam</th>
                  <td>{{ voornaam }}</td>
                </tr>

                <tr>
                  <th scope="row">Achternaam</th>
                  <td>{{ achternaam }}</td>
                </tr>

                <tr>
                  <th scope="row">Adres en Huisnummer</th>
                  <td>{{ adres }} {{ huisnummer }}</td>
                </tr>

                <tr>
                  <th scope="row">Postcode en Woonplaats</th>
                  <td>{{ postcode }} {{ woonplaats }}</td>
                </tr>

                <tr>
                  <th scope="row">Emailadres</th>
                  <td>{{ email }}</td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
