.container {
  max-width: 800px;
}

h1 {
  font-size: 2rem;
}

.form-group .ng-invalid {
  border-color: red;
}

.form-group .ng-valid {
  border-color: green;
}

.form-group .ng-untouched {
  border-color: black;
}

.form-control:focus {
  box-shadow: unset;
}
